*{
    padding: 10px;
    margin: auto 0;
}

body {
    padding-top: 0px;
    background-color: black;
    font-family: proxima-nova, sans-serif;
    display: grid;
    grid-template-rows: 25vw 1fr 3vw;
    height: 100vh;
    text-align: center;
    font-size: calc(1rem + 0.5vw);
}

h1 {
    color: #2468B1;
}

img {
    width: auto;
    height: 15vw;
}

.search {
    display: inline-block;
    align-items: center;
    align-content:center;
    margin-bottom: 0;
    margin-top:0;
    height: auto;
}

.search >img {      /* the pokemon image */
    display: block;
    width: 20vw;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.searchBar {        /* input line and search button container */
    display: inline-block;
}

.searchTerm {       /* input line */
  width: 25vw;
  border: 3px solid #FCCF00;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: #2468B1; 
  font-weight: bold;
  font-size: calc(1rem + 0.5vw);
}

button {
  text-align: center;
  border: 1px solid #FCCF00;
  background: #FCCF00;
  color: #2468B1;
  padding: 7px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: calc(1rem + 0.5vw);
  align-items: center;
}

.searchButton {
  width: 10vw;
}

.pokemon {
    color: #FCCF00;
    background-color: black;
    font-weight: bold;
    font-size: calc(2rem + 1vw);
    box-sizing: border-box;
    display: grid;
}

.details {
  background-color: black;
  color: #FCCF00;
  border: 3px solid #FCCF00;
  border-radius: 5px;
  padding: 5px;
}

.stats {
  margin: 0;
  padding: 5px;
  padding-left: 10px;
  background-color: black;
  border: 3px solid #FCCF00;
  color: #FCCF00;
  border-radius: 5px;
  text-align: left;
}

.stats > h3 {
  color: #2468B1;
}

.out { /*outputs from API*/
  color: #2468B1;
}

a {
  text-decoration: none;
  color: #FCCF00;
  margin: 0;
}

a:hover{
  color:  #2468B1;
}
